:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";

@media (prefers-color-scheme: light) {
  :root {
    color: #0f1820;
    background-color: #c7daff;
  }

  .card-container {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.1);
    color: #333333;
  }
  .card-image-placeholder {
    background-color: #e0e0e0;
  }
  .card-content h2 {
    color: #222222;
  }
  .card-content p {
    color: #666666;
  }
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
}

.card-container {
  background-color: #282828;
  border: 1px solid #787878;
  border-radius: 12px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-image-placeholder {
  background-color: #3a3a3a;
  border: none;
  width: 100%;
  height: 70%;
  flex-shrink: 0;
}

.card-content {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h2 {
  color: #b0b0b0;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: 600;
}

.card-conten p {
  color: #b0b0b0;
  margin-bottom: 0;
  font-size: 0.9em;
  line-height: 1.4;
}
